.error{
  color: red;
  font-weight: bold;
  display: none;
}

.title{
  background-color: #383838;
}
.warning{
  font-style: italic
}
body{
  font-size: 1.2em;
}
.loading-icon{
  position: absolute;
  left: 50%;
  top:10px;
}
